<h1>Gerar nova partida.</h1>

<hr>

<div class="row">
  <div class="col-md-2">
    <div class="p-2 m-2 card">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
        <label class="form-check-label" for="flexCheckDefault2">
          Time 2
        </label>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="p-2 m-2 card">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
        <label class="form-check-label" for="flexCheckDefault2">
          Time 2
        </label>
      </div>
    </div>
  </div>


  <div class="col-md-2">
    <div class="p-2 m-2 card">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
        <label class="form-check-label" for="flexCheckDefault2">
          Time 2
        </label>
      </div>
    </div>
  </div>


  <div class="col-md-2">
    <div class="p-2 m-2 card">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
        <label class="form-check-label" for="flexCheckDefault2">
          Time 2
        </label>
      </div>
    </div>
  </div>


  <div class="col-md-2">
    <div class="p-2 m-2 card">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
        <label class="form-check-label" for="flexCheckDefault2">
          Time 2
        </label>
      </div>
    </div>
  </div>


  <div class="col-md-2">
    <div class="p-2 m-2 card">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
        <label class="form-check-label" for="flexCheckDefault2">
          Time 2
        </label>
      </div>
    </div>
  </div>


  <div class="col-md-2">
    <div class="p-2 m-2 card">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
        <label class="form-check-label" for="flexCheckDefault2">
          Time 2
        </label>
      </div>
    </div>
  </div>



  <div class="col-md-2">
    <div class="p-2 m-2 card">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
        <label class="form-check-label" for="flexCheckDefault2">
          Time 2
        </label>
      </div>
    </div>
  </div>


  <div class="col-md-2">
    <div class="p-2 m-2 card">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
        <label class="form-check-label" for="flexCheckDefault2">
          Time 2
        </label>
      </div>
    </div>
  </div>


  <div class="col-md-2">
    <div class="p-2 m-2 card">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
        <label class="form-check-label" for="flexCheckDefault2">
          Time 2
        </label>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-right">
    <button class="btn btn-large btn-success">Gerar</button>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-4">
    <h2>Fase 1</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-2 m-2 text-center">
          <p class="mt-2"><b>0</b> - Time 1</p>
          <hr>
          <p ><b>2</b> - Time 2</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-2 m-2 text-center">
          <p class="mt-2"><b>0</b> - Time 1</p>
          <hr>
          <p ><b>2</b> - Time 2</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-2 m-2 text-center">
          <p class="mt-2"><b>0</b> - Time 1</p>
          <hr>
          <p ><b>2</b> - Time 2</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-2 m-2 text-center">
          <p class="mt-2"><b>0</b> - Time 1</p>
          <hr>
          <p ><b>2</b> - Time 2</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4" style="margin-top: 160px;">
    <h2>Fase 2</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-2 m-2 text-center">
          <p class="mt-2"><b>0</b> - Time 1</p>
          <hr>
          <p ><b>2</b> - Time 2</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-2 m-2 text-center">
          <p class="mt-2"><b>0</b> - Time 1</p>
          <hr>
          <p ><b>2</b> - Time 2</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4" style="margin-top: 235px;">
    <h2>Fase 3</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-2 m-2 text-center">
          <p class="mt-2"><b>0</b> - Time 1</p>
          <hr>
          <p ><b>2</b> - Time 2</p>
        </div>
      </div>
    </div>
  </div>
</div>
