<h1 style="display: inline-block;">Gerar nova partida.</h1>
<input style="display: inline-block; border: 1px solid #c9c9c9; bottom:7px; margin-left: 22px;" [(ngModel)]="name" class="form-control col-md-2" placeholder="nome do campeonato" />

<hr>

<div class="row">
  <div *ngFor="let team of teams; index as i" class="col-md-2">
    <div class="p-2 mr-2 mb-4 card">
      <div class="form-check">
        <input style="width: 20px; height: 20px;" class="form-check-input" type="checkbox" [checked]="hasTeam(team.id)" (click)="checkTeam(team.id)" id="check_{{team.id}}">
        <label style="font-size: 13pt; margin-left: 10px" class="form-check-label" for="check_{{team.id}}">
          {{team.name}}
        </label>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-right">
    <button style="margin-top: 15px" (click)="generate()" class="btn btn-large btn-success">Gerar</button>
  </div>
</div>

<hr>

<div *ngIf="championship != null" class="row">
  <div class="col-md-4">
    <h2>Fase 1</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-2 m-2 text-center">
          <p class="mt-2"><b>{{championship.matchups[0].team_1_goals}}</b> - {{championship.matchups[0].team_1.name}}</p>
          <hr>
          <p ><b>{{championship.matchups[0].team_2_goals}}</b> - {{championship.matchups[0].team_2.name}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-2 m-2 text-center">
          <p class="mt-2"><b>{{championship.matchups[1].team_1_goals}}</b> - {{championship.matchups[1].team_1.name}}</p>
          <hr>
          <p ><b>{{championship.matchups[1].team_2_goals}}</b> - {{championship.matchups[1].team_2.name}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-2 m-2 text-center">
          <p class="mt-2"><b>{{championship.matchups[2].team_1_goals}}</b> - {{championship.matchups[2].team_1.name}}</p>
          <hr>
          <p ><b>{{championship.matchups[2].team_2_goals}}</b> - {{championship.matchups[2].team_2.name}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-2 m-2 text-center">
          <p class="mt-2"><b>{{championship.matchups[3].team_1_goals}}</b> - {{championship.matchups[3].team_1.name}}</p>
          <hr>
          <p ><b>{{championship.matchups[3].team_2_goals}}</b> - {{championship.matchups[3].team_2.name}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4" style="margin-top: 160px;">
    <h2>Fase 2</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-2 m-2 text-center">
          <p class="mt-2"><b>{{championship.matchups[4].team_1_goals}}</b> - {{championship.matchups[4].team_1.name}}</p>
          <hr>
          <p ><b>{{championship.matchups[4].team_2_goals}}</b> - {{championship.matchups[4].team_2.name}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-2 m-2 text-center">
          <p class="mt-2"><b>{{championship.matchups[5].team_1_goals}}</b> - {{championship.matchups[5].team_1.name}}</p>
          <hr>
          <p ><b>{{championship.matchups[5].team_2_goals}}</b> - {{championship.matchups[5].team_2.name}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4" style="margin-top: 140px;">
    <h2>Final</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-2 m-2 text-center">
          <p class="mt-2"><b>{{championship.matchups[7].team_1_goals}}</b> - {{championship.matchups[7].team_1.name}}</p>
          <hr>
          <p ><b>{{championship.matchups[7].team_2_goals}}</b> - {{championship.matchups[7].team_2.name}}</p>
        </div>
      </div>
    </div>

    <h2>Terceiro Lugar</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-2 m-2 text-center">
          <p class="mt-2"><b>{{championship.matchups[6].team_1_goals}}</b> - {{championship.matchups[6].team_1.name}}</p>
          <hr>
          <p ><b>{{championship.matchups[6].team_2_goals}}</b> - {{championship.matchups[6].team_2.name}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
