<h1>Partidas passadas</h1>

<hr>
<h3>#19283</h3>
<hr>
<div class="row">
  <div class="col-md-4">
    <h2>Fase 1</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-2 m-2 text-center">
          <p class="mt-2"><b>0</b> - Time 1</p>
          <hr>
          <p ><b>2</b> - Time 2</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-2 m-2 text-center">
          <p class="mt-2"><b>0</b> - Time 1</p>
          <hr>
          <p ><b>2</b> - Time 2</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-2 m-2 text-center">
          <p class="mt-2"><b>0</b> - Time 1</p>
          <hr>
          <p ><b>2</b> - Time 2</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-2 m-2 text-center">
          <p class="mt-2"><b>0</b> - Time 1</p>
          <hr>
          <p ><b>2</b> - Time 2</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4" style="margin-top: 160px;">
    <h2>Fase 2</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-2 m-2 text-center">
          <p class="mt-2"><b>0</b> - Time 1</p>
          <hr>
          <p ><b>2</b> - Time 2</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-2 m-2 text-center">
          <p class="mt-2"><b>0</b> - Time 1</p>
          <hr>
          <p ><b>2</b> - Time 2</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4" style="margin-top: 235px;">
    <h2>Fase 3</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-2 m-2 text-center">
          <p class="mt-2"><b>0</b> - Time 1</p>
          <hr>
          <p ><b>2</b> - Time 2</p>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
<h3>#19283</h3>
<hr>
<div class="row">
  <div class="col-md-4">
    <h2>Fase 1</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-2 m-2 text-center">
          <p class="mt-2"><b>0</b> - Time 1</p>
          <hr>
          <p ><b>2</b> - Time 2</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-2 m-2 text-center">
          <p class="mt-2"><b>0</b> - Time 1</p>
          <hr>
          <p ><b>2</b> - Time 2</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-2 m-2 text-center">
          <p class="mt-2"><b>0</b> - Time 1</p>
          <hr>
          <p ><b>2</b> - Time 2</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-2 m-2 text-center">
          <p class="mt-2"><b>0</b> - Time 1</p>
          <hr>
          <p ><b>2</b> - Time 2</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4" style="margin-top: 160px;">
    <h2>Fase 2</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-2 m-2 text-center">
          <p class="mt-2"><b>0</b> - Time 1</p>
          <hr>
          <p ><b>2</b> - Time 2</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-2 m-2 text-center">
          <p class="mt-2"><b>0</b> - Time 1</p>
          <hr>
          <p ><b>2</b> - Time 2</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4" style="margin-top: 235px;">
    <h2>Fase 3</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-2 m-2 text-center">
          <p class="mt-2"><b>0</b> - Time 1</p>
          <hr>
          <p ><b>2</b> - Time 2</p>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
<h3>#19283</h3>
<hr>
<div class="row">
  <div class="col-md-4">
    <h2>Fase 1</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-2 m-2 text-center">
          <p class="mt-2"><b>0</b> - Time 1</p>
          <hr>
          <p ><b>2</b> - Time 2</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-2 m-2 text-center">
          <p class="mt-2"><b>0</b> - Time 1</p>
          <hr>
          <p ><b>2</b> - Time 2</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-2 m-2 text-center">
          <p class="mt-2"><b>0</b> - Time 1</p>
          <hr>
          <p ><b>2</b> - Time 2</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-2 m-2 text-center">
          <p class="mt-2"><b>0</b> - Time 1</p>
          <hr>
          <p ><b>2</b> - Time 2</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4" style="margin-top: 160px;">
    <h2>Fase 2</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-2 m-2 text-center">
          <p class="mt-2"><b>0</b> - Time 1</p>
          <hr>
          <p ><b>2</b> - Time 2</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-2 m-2 text-center">
          <p class="mt-2"><b>0</b> - Time 1</p>
          <hr>
          <p ><b>2</b> - Time 2</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4" style="margin-top: 235px;">
    <h2>Fase 3</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-2 m-2 text-center">
          <p class="mt-2"><b>0</b> - Time 1</p>
          <hr>
          <p ><b>2</b> - Time 2</p>
        </div>
      </div>
    </div>
  </div>
</div>
